/*Small devices (portrait tablets and large phones, 360px and up)*/
@media only screen and (min-width: 360px) {
    .text{
        font-size: 50px;
        color: pink;
    }
    .image{
        width: 200px;
    }
    form .btn{
        width: 200px;
    }
}
/* Large devices (laptops/desktops, 720px and up) */
@media only screen and (min-width: 720px) {
    .text{
        font-size:75px;
        color: orange;
    }
    .image{
        width:600px;
    }
    form .btn{
        width: 600px;
    }
}

@media only screen and (min-width: 1024px) {
    .text{
        font-size:100px;
        color:red;
    }
    .image{
        width:900px ;
    }
    form .btn{
        width: 900px;
    }
}
